/* http://mrbool.com/how-to-style-the-html-5-video-element-with-javascript-and-css/27683 */
	body {background-color: #EFEFEF;font-family: Verdana, 'Trebuchet MS', times, Garamond; font-size: 11pt;}
	h3 {text-align: center;font-size: 1.4em;letter-spacing: 1px;}
	ul,ol{float:left; margin-right:40px;}
	ul {list-style: none;}
	li {padding: 5px 5px 5px 10px;}
	#myLinks ol li{position: relative;}
	a {text-decoration: none; color: #979; letter-spacing: 1px;}
	a:hover{color:#757;text-decoration: underline;}
	li.activeVid {background-color: #CFCFCF;}
	li.activeVid div.myVid {padding:7px 33px 15px 33px; display: none;}
	li.activeVid a {color:#B44;clear:both;display: block;}
	div#nav {margin-top:-15px;}
		div#nav a {color:#33E;}
	#cont-play {position: fixed; top: 20px; right: 20px; font-size: 1.2em; color: #111;background-color: #9CF;padding:25px;}

